<div class="d-flex justify-content-center sticky-top text-center">
    <div class="alert alert-success w-50" role="alert">
        <h4 class="alert-heading"></h4>
        <p style="word-break: break-all;">La cuenta ha sido deshabilitada exitosamente!</p>
    </div>
</div>
