<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Configuración de Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        Nombre de usuario
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <span id="nombreModal"></span>
                            <button class="btn btn-primary float-right btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample">

                                Editar
                            </button>
                            <div class="collapse" id="collapseExample">
                                <form class="mt-4" method="post">
                                    <input class="form-control" type="text" placeholder="Nuevo nombre de usuario">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        Correo electrónico
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <span id="correoModal"></span>
                            <button class="btn btn-primary float-right btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                                    aria-expanded="false" aria-controls="collapseExample2">

                                Editar
                            </button>
                            <div class="collapse" id="collapseExample2">
                                <form class="mt-4" method="post">
                                    <input class="form-control" type="text" placeholder="Nuevo correo">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        Constraseña
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <span id="passModal">*********************</span>
                            <button class="btn btn-primary float-right btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1"
                                    aria-expanded="false" aria-controls="collapseExample1">

                                Editar
                            </button>
                            <div class="collapse" id="collapseExample1">
                                <form class="mt-4" method="post">
                                    <input class="form-control" type="text" placeholder="Nuevo contraseña">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                <div>
                    <button class="btn btn-secondary w-100 mt-3">
                        Deshabilitar
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>
 

