<div class="justify-content-center fixed-bottom text-center d-none" id="alert">
    <div class="alert alert-danger alert-dismissible w-50" role="alert">
        <h4 class="alert-heading"></h4>
        <p style="word-break: break-all;">La solicitud ha sido Rechazada</p>
        <button type="button" class="close" aria-label="Close" id="button-alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="justify-content-center fixed-bottom text-center d-none" id="alerta2">
    <div class="alert alert-success alert-dismissible w-50" role="alert">
        <h4 class="alert-heading"></h4>
        <p style="word-break: break-all;">La solicitud ha sido Aceptada!</p>
        <button type="button" class="close" aria-label="Close" id="button-alert2">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
