
@model List<AppWebERS.Models.Proyecto>

    @{
        /**/
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @{
        ViewBag.Title = "Lista de proyectos Asociados";
        ViewBag.Title2 = "Lista de proyectos NO Asociados";

    }

    <h2>@ViewBag.Title.</h2>


    @foreach (var proyecto in Model)
    {

        
            <div class="card">
                <div class="card-header">
                    @proyecto.Nombre
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Ver detalle</a>
                </div>
            </div>
            <br><br>
       
    }




    @foreach (var proyecto in Model)
    {

        

            <div class="card">
                <div class="card-header">
                    @proyecto.Nombre
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Unirse</a>
                </div>
            </div>
            <br><br>
        

    }
