@model AppWebERS.Models.DiagramaModels
@{
    
    ViewBag.Title = "Diagramas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Diagramas</h2>
<div class="dropdown-divider"></div>

<a href="../../Diagrama/SubirDiagrama/@Model.IdProyecto" class="btn btn-primary w-auto">Agregar diagrama</a>

<div>
    @if (Model.urlsCasosDeUso != null)
    {
        if (Model.urlsCasosDeUso.Count > 0)
        {
            if (Model.urlsCasosDeUso.Count == 1)
            {
                <h3 style="margin-top:20px;margin-bottom:20px">Diagrama Caso de Uso</h3>
            }
            else
            {<h3 style="margin-top:20px;margin-bottom:20px">Diagramas de Casos de Uso</h3> }

            <div class="card-deck">
                @foreach (var im in Model.urlsCasosDeUso)
                {
                    <div class="card">
                        <div class="card-header">
                            @Html.Label(im.nombre)
                        </div>
                        <div class="card-body">
                            <img src=@im.url alt="Card image cap" style="height:auto;width:100%" />
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
<div>
    @if (Model.urlsaArquiFisica != null)
    {
        if (Model.urlsaArquiFisica.Count > 0)
        {
            if (Model.urlsaArquiFisica.Count == 1) {<h3 style="margin-top:20px;margin-bottom:20px">Diagrama Arquitectura Física</h3> }
            else {<h3 style="margin-top:20px;margin-bottom:20px">Diagramas Arquitectura Física</h3> }
            
            <div class="card-deck">
                @foreach (var im in Model.urlsaArquiFisica)
                {
                    <div class="card">
                        <div class="card-header">
                            @Html.Label(im.nombre)
                        </div>
                        <div class="card-body">
                            <img src=@im.url alt="Card image cap" style="height:auto;width:100%" />
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
<div>
    @if (Model.urlsArquiLogica != null)
    {
        if (Model.urlsArquiLogica.Count > 0)
        {
            if (Model.urlsArquiLogica.Count ==1) {<h3 style="margin-top:20px;margin-bottom:20px">Diagrama Arquitectura Lógica</h3> }
            else { <h3 style="margin-top:20px;margin-bottom:20px">Diagramas Arquitectura Lógica</h3>}
            
            <div class="card-deck">
                @foreach (var im in Model.urlsArquiLogica)
                {
                    <div class="card">
                        <div class="card-header">
                            @Html.Label(im.nombre)
                        </div>
                        <div class="card-body">
                            <img src=@im.url alt="Card image cap" style="height:auto;width:100%" />
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>


