@{
    ViewBag.Title = "Inicio";
}

@if (Request.IsAuthenticated) {
    <div class="jumbotron">
        <h1>Bienvenido a AppWebDERS</h1>
        <p class="lead">AppWebDERS es una plataforma online para realizar documentos de especificación de requisitos</p>

        <div class="text-center">
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Proyectos</h2>
            <p>
                Ver los proyectos ingresados al sistema.
            </p>
            <p><a class="btn btn-primary" href="@Url.Action("ListarProyectos", "Proyecto")">Ir a Proyectos</a></p>
        </div>
    </div>
}
else {
    Response.Redirect("/");
}

    