@{
    ViewBag.Title = "Inicio";
}

@if (Request.IsAuthenticated) {
    <div class="jumbotron">
        <h1>Bienvenido a AppWebDERS</h1>
        <p class="lead">AppWebDERS es una plataforma online para realizar documentos de especificación de requisitos</p>

        <div class="text-center">
            <img src="https://i0.wp.com/www.rowsdowr.com/wp-content/uploads/2012/10/homers-web-page.gif">
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Proyectos</h2>
            <p>
                Ver los proyectos ingresados al sistema.
            </p>
            <p><a class="btn btn-primary" href="@Url.Action("ListarProyectos", "Proyecto")">Ir a Proyectos</a></p>
        </div>
        <!--
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div> -->
    </div>
}
else {
    Response.Redirect("/");
}

    